{% extends 'pages/t_layout.html' %}
{%block content%}
{{super()}}
<!--- include script for this page -->
<script src="{{url_for('static', filename='js/config_otg.js')}}"></script>
<div class= "content flex flex-grow h-5/6 w-full flex-col md:flex-row mb-5 p-5">
    <div class="border-2 w-1\/2 w-full flex-grow flex md:h-full flex-col sm:h-2/5" >
        <form class="h-full w-full p-1" action="/send_config" id="config_form" method="post">
            <div class="h-full w-full p-1"><textarea class="resize-y h-full border-black border-2 w-full rounded-md" form="config_form" id="config_input" name="config"></textarea></div>
            <div class="h-1/6 w-full items-center text-center p-1 m-1">
                 Config Name : <input class="border rounded" type="text" name="config_name">

                <select name="host_name" id="host_name" form="config_form">
                    {%for room in api%}
                        {% if selected == room %}
                            <option value="{{room}}" selected>{{room}}</option>
                        {%else%}
                            <option value="{{room}}">{{room}}</option>
                        {%endif%}
                    {%endfor%}
                </select>
                <input class="border rounded p-1 m-1" type="submit" value="Send">
            </div>
        </form>
    </div>
    <div class="border-2 flex-grow w-1\/2 w-full md:h-full h-3/5 overflow-y-scroll">
        <div class="text-center m-auto w-full h-8"><button class="px-1 m-auto" onclick="ShowAndHide('interface')">Interfaces</button><button class="px-1 m-auto" onclick="ShowAndHide('vlans')">Vlans</button><button class="px-1 m-auto" onclick="ShowAndHide('trunks')">Trunks</button></div>
        <div class="w-full object-fill">
            <div class="h-2\/5 w-full h-full block flex row" style="display: none;" id=interface>
                <table class="table-fixed w-full h-full border-collapse border border-gray-400 m-auto block">
                    <thead>
                    <tr>
                        <th colspan="3">Interfaces</th>
                    </tr>
                    <tr>
                        <th class="border border-gray-400">Name</th>
                        <th class="border border-gray-400">Native Vlan</th>
                        <th class="border border-gray-400">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%for interface in interfaces%}
                    <tr>
                        <th class="border border-gray-400 text-xs md:text-lg"><button onclick="setConfig_input(({{interface}}), '{{"interface_"+interface['name']}}')">{{interface['name']}}</button></th>

                        <th class="border border-gray-400 text-xs md:text-lg">{{interface['vlan']['description']}}</th>
                        {%if interface['status'] == 'up'%}
                        <th class="border border-gray-400 bg-green-200">{{interface['status']}}</th>
                        {%else%}
                        <th class="border border-gray-400 bg-red-200">{{interface['status']}}</th>
                        {%endif%}
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
            <div class="h-1\/5 w-full h-full block flex row"  id=vlans style="display: none;">
                <table class="table-fixed w-full h-full border-collapse border border-gray-400 m-auto block justify-center">
                    <thead>
                    <tr>
                        <th colspan="2">Vlans</th>
                    </tr>
                    <tr>
                        <th class="border border-gray-400">Name</th>
                        <th class="border border-gray-400">Vlan_ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%for vlan in vlans%}
                        {%if vlan['dot1q_id'] >=200%}
                            <tr>
                                <th class="border border-gray-400 text-xs md:text-lg"><button onclick="setConfig_input(({{vlan}}), '{{"vlan_"+vlan['description']}}')">{{vlan['description']}}</button></th>
                                <th class="border border-gray-400">{{vlan['dot1q_id']}}</th>
                            </tr>
                        {%endif%}
                    {%endfor%}
                    </tbody>
                </table>
            </div>
            <div class="h-2/5 w-full h-full block flex row" id=trunks style="display: none;">
                <table class="h-auto w-full border-collapse border border-gray-400 m-auto">
                    <thead>
                    <tr>
                        <th colspan="4">Trunks</th>
                    </tr>
                    <tr>
                        <th class="border border-gray-400">Interface</th>
                        <th class="border border-gray-400">Native Vlan</th>
                        <th class="border border-gray-400">Status</th>
                        <th class="border border-gray-400">Tagged vlans</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%for trunk in trunks%}
                    <tr>
                        <th class="border border-gray-400 text-xs md:text-lg"><button onclick="setConfig_input(({{trunk}}), '{{"trunk_"+trunk['interface']['name']}}')">{{trunk['interface']['name']}}</button></th>
                        <th class="border border-gray-400">{{trunk['native_vlan']['description']}}</th>
                        {%if trunk['interface']['status'] == 'up'%}
                        <th class="border border-gray-400 bg-green-200">{{trunk['interface']['status']}}</th>
                        {%else%}
                        <th class="border border-gray-400 bg-red-200">{{trunk['interface']['status']}}</th>
                        {%endif%}
                        <th class="border border-gray-400">
                            <ul>
                                {%for tagged in trunk['tagged_vlans']%}
                                    {%if tagged >= 200 and trunk['native_vlan']['description'] != 'actifs'%}
                                        <li>{{tagged}}</li>
                                    {%endif%}
                                {%endfor%}
                            </ul>
                        </th>
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{%endblock%}