<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/tailwind.css">
    {% if title %}<title>SDN-Cloudstack - {{title}}</title>
    {%else%}<title>SDN-Cloudstack</title>{%endif%}
</head>
<body class="flex-col w-screen h-screen overflow-hidden">
    <header class=" header flex w-full h-1/6  items-center text-2xl font-extrabold text-white space-x-5">
        <div>
            <button class="px-5 grow"><a href="/">SDN-Cloudstack</a></button>
        </div>
        <div>
            <select class="header text-white" onchange="if (this.value) window.location.href=this.value" >
                {%for room in api%}s
                <option value="/config-otg/{{room}}">{{room}}</option>
                {%endfor%}
            </select>
        </div>
        <div class="flex-auto text-center">
            <p>{{title}}</p>
        </div>
        <div>
            <button class="px-5"><a href="t_login.html">Login</a></button>
        </div>
    </header>
    <main class=" w-full h-5/6">
        <div class="flex w-full h-full">
            <div class="flex w-1\/5 h-full flex-none overflow-y-none ">
                        <div class="navbar flex flex-col">
                            <div>
    
                                <div class="flex flex-col w-44 items-justify px-8 py-4">
                                    <a href="/resume/"
                                    class="text-white hover:bg-gray-400 px-3 py-2 my-2 rounded-md text-m font-medium">Resume</a>
                                    <a href="/config-otg/"
                                    class="text-white hover:bg-gray-400 px-3 py-2 my-2 rounded-md text-m font-medium">Configs-OTG</a>
                                    <a href="/config/"
                                    class="text-white hover:bg-gray-400 px-3 py-2 my-2 rounded-md text-m font-medium">Config</a>
                                </div>
                            </div>
            </div>
            </div>
            <div class="flex w-full w-4\/5 h-full">
                {%block content%}{%endblock%}
            </div>
        </div>
    </main>
    {%block script%}{%endblock%}
</body>