{% extends 'pages/t_layout.html' %} {%block content%} {{super()}}
<div class="overflow-auto w-auto">
  <div class="overflow-x-auto w-max space-x-2 flex flex-col pr-44">
    {% if room == 'Reseau-1' %}
    <!-- First block -->
    <div
      class="grid gap-1 grid-rows-2 overflow-x-auto p-4"
      style="grid-template-columns: repeat(12, minmax(0, 1fr))"
    >
      {% for int in interfaces.top[:12] %}
      <div
        class="flex flex-col items-center justify-center border border-black p-1"
      >
        <span
          class="h-8 w-8 border border-black {{('bg-red-500', 'bg-green-500')[int.status == 'up']}}"
        ></span>
        <p class="text-center text-xs">
          {{int.name}}<br />
          ID: {{int.vlan.dot1q_id}}<br />
          {{int.vlan.description}}
        </p>
      </div>
      {%endfor%} {% for int in interfaces.bottom[:12] %}
      <div
        class="flex flex-col items-center justify-center border border-black p-1"
      >
        <span
          class="h-8 w-8 border border-black {{('bg-red-500', 'bg-green-500')[int.status == 'up']}}"
        ></span>
        <p class="text-center text-xs">
          {{int.name}}<br />
          ID: {{int.vlan.dot1q_id}}<br />
          {{int.vlan.description}}
        </p>
      </div>
      {%endfor%}
    </div>
    <!-- Second block -->
    <div
      class="grid gap-1 grid-rows-2 overflow-x-auto p-4"
      style="grid-template-columns: repeat(12, minmax(0, 1fr))"
    >
      {% for int in interfaces.top[12:24] %}
      <div
        class="flex flex-col items-center justify-center border border-black p-1"
      >
        <span
          class="h-8 w-8 border border-black {{('bg-red-500', 'bg-green-500')[int.status == 'up']}}"
        ></span>
        <p class="text-center text-xs">
          {{int.name}}<br />
          ID: {{int.vlan.dot1q_id}}<br />
          {{int.vlan.description}}
        </p>
      </div>
      {%endfor%} {% for int in interfaces.bottom[12:24] %}
      <div
        class="flex flex-col items-center justify-center border border-black p-1"
      >
        <span
          class="h-8 w-8 border border-black {{('bg-red-500', 'bg-green-500')[int.status == 'up']}}"
        ></span>
        <p class="text-center text-xs">
          {{int.name}}<br />
          ID: {{int.vlan.dot1q_id}}<br />
          {{int.vlan.description}}
        </p>
      </div>
      {%endfor%}
    </div>
    <!-- Third block -->
    <div
      class="grid gap-1 grid-rows-2 overflow-x-auto p-4"
      style="grid-template-columns: repeat(12, minmax(0, 1fr))"
    >
      {% for int in interfaces.top[24:36] %}
      <div
        class="flex flex-col items-center justify-center border border-black p-1"
      >
        <span
          class="h-8 w-8 border border-black {{('bg-red-500', 'bg-green-500')[int.status == 'up']}}"
        ></span>
        <p class="text-center text-xs">
          {{int.name}}<br />
          ID: {{int.vlan.dot1q_id}}<br />
          {{int.vlan.description}}
        </p>
      </div>
      {%endfor%} {% for int in interfaces.bottom[24:36] %}
      <div
        class="flex flex-col items-center justify-center border border-black p-1"
      >
        <span
          class="h-8 w-8 border border-black {{('bg-red-500', 'bg-green-500')[int.status == 'up']}}"
        ></span>
        <p class="text-center text-xs">
          {{int.name}}<br />
          ID: {{int.vlan.dot1q_id}}<br />
          {{int.vlan.description}}
        </p>
      </div>
      {%endfor%}
    </div>

    <!-- Quator block -->
    <div
      class="grid gap-1 grid-rows-2 overflow-x-auto p-4"
      style="grid-template-columns: repeat(12, minmax(0, 1fr))"
    >
      {% for int in interfaces.top[36:48] %}
      <div
        class="flex flex-col items-center justify-center border border-black p-1"
      >
        <span
          class="h-8 w-8 border border-black {{('bg-red-500', 'bg-green-500')[int.status == 'up']}}"
        ></span>
        <p class="text-center text-xs">
          {{int.name}}<br />
          ID: {{int.vlan.dot1q_id}}<br />
          {{int.vlan.description}}
        </p>
      </div>
      {%endfor%} {% for int in interfaces.bottom[36:48] %}
      <div
        class="flex flex-col items-center justify-center border border-black p-1"
      >
        <span
          class="h-8 w-8 border border-black {{('bg-red-500', 'bg-green-500')[int.status == 'up']}}"
        ></span>
        <p class="text-center text-xs">
          {{int.name}}<br />
          ID: {{int.vlan.dot1q_id}}<br />
          {{int.vlan.description}}
        </p>
      </div>
      {%endfor%}
    </div>

    <!-- Gigabit block -->
    <div
      class="grid gap-1 grid-rows-2 overflow-x-auto p-4"
      style="grid-template-columns: repeat(4, minmax(0, 1fr))"
    >
      {% for int in interfaces.top[48:52] %}
      <div
        class="flex flex-col items-center justify-center border border-black p-1"
      >
        <span
          class="h-8 w-8 border border-black {{('bg-red-500', 'bg-green-500')[int.status == 'up']}}"
        ></span>
        <p class="text-center text-xs">
          {{int.name}}<br />
          ID: {{int.vlan.dot1q_id}}<br />
          {{int.vlan.description}}
        </p>
      </div>
      {%endfor%} {% for int in interfaces.bottom[48:52] %}
      <div
        class="flex flex-col items-center justify-center border border-black p-1"
      >
        <span
          class="h-8 w-8 border border-black {{('bg-red-500', 'bg-green-500')[int.status == 'up']}}"
        ></span>
        <p class="text-center text-xs">
          {{int.name}}<br />
          ID: {{int.vlan.dot1q_id}}<br />
          {{int.vlan.description}}
        </p>
      </div>
      {%endfor%}
    </div>
    {% elif room=='Reseau-2' %}
    <div
      class="grid gap-1 grid-rows-2 overflow-x-auto p-4"
      style="grid-template-columns: repeat(12, minmax(0, 1fr))"
    >
      {% for int in interfaces.bottom[:24] %}
      <div
        class="flex flex-col items-center justify-center border border-black p-1"
      >
        <span
          class="h-8 w-8 border border-black {{('bg-red-500', 'bg-green-500')[int.status == 'up']}}"
        ></span>
        <p class="text-center text-xs">
          {{int.name}}<br />
          ID: {{int.vlan.dot1q_id}}<br />
          {{int.vlan.description}}
        </p>
      </div>
      {%endfor%}
    </div>

    <div
      class="grid gap-1 grid-rows-2 overflow-x-auto p-4"
      style="grid-template-columns: repeat(12, minmax(0, 1fr))"
    >
      {% for int in interfaces.bottom[24:48] %}
      <div
        class="flex flex-col items-center justify-center border border-black p-1"
      >
        <span
          class="h-8 w-8 border border-black {{('bg-red-500', 'bg-green-500')[int.status == 'up']}}"
        ></span>
        <p class="text-center text-xs">
          {{int.name}}<br />
          ID: {{int.vlan.dot1q_id}}<br />
          {{int.vlan.description}}
        </p>
      </div>
      {%endfor%}
    </div>

    <div
      class="grid gap-1 grid-rows-2 overflow-x-auto p-4"
      style="grid-template-columns: repeat(6, minmax(0, 1fr))"
    >
      {% for int in interfaces.top[:12] %}
      <div
        class="flex flex-col items-center justify-center border border-black p-1"
      >
        <span
          class="h-8 w-8 border border-black {{('bg-red-500', 'bg-green-500')[int.status == 'up']}}"
        ></span>
        <p class="text-center text-xs">
          {{int.name}}<br />
          ID: {{int.vlan.dot1q_id}}<br />
          {{int.vlan.description}}
        </p>
      </div>
      {%endfor%}
    </div>

    <div
      class="grid gap-1 grid-rows-1 overflow-x-auto p-4"
      style="grid-template-columns: repeat(4, minmax(0, 1fr))"
    >
      {% for int in interfaces.bottom[48:52] %}
      <div
        class="flex flex-col items-center justify-center border border-black p-1"
      >
        <span
          class="h-8 w-8 border border-black {{('bg-red-500', 'bg-green-500')[int.status == 'up']}}"
        ></span>
        <p class="text-center text-xs">
          {{int.name}}<br />
          ID: {{int.vlan.dot1q_id}}<br />
          {{int.vlan.description}}
        </p>
      </div>
      {%endfor%}
    </div>
    {% elif room == 'Reseau-3' %}

    <div
      class="grid gap-1 grid-rows-2 overflow-x-auto p-4"
      style="grid-template-columns: repeat(6, minmax(0, 1fr))"
    >
      {% for int in interfaces.r3[:12] %}
      <div
        class="flex flex-col items-center justify-center border border-black p-1"
      >
        <span
          class="h-8 w-8 border border-black {{('bg-red-500', 'bg-green-500')[int.status == 'up']}}"
        ></span>
        <p class="text-center text-xs">
          {{int.name}}<br />
          ID: {{int.vlan.dot1q_id}}<br />
          {{int.vlan.description}}
        </p>
      </div>
      {%endfor%}
    </div>

    <div
      class="grid gap-1 grid-rows-2 overflow-x-auto p-4"
      style="grid-template-columns: repeat(6, minmax(0, 1fr))"
    >
      {% for int in interfaces.r3[12:24] %}
      <div
        class="flex flex-col items-center justify-center border border-black p-1"
      >
        <span
          class="h-8 w-8 border border-black {{('bg-red-500', 'bg-green-500')[int.status == 'up']}}"
        ></span>
        <p class="text-center text-xs">
          {{int.name}}<br />
          ID: {{int.vlan.dot1q_id}}<br />
          {{int.vlan.description}}
        </p>
      </div>
      {%endfor%}
    </div>

    {% endif %}
  </div>
</div>
{%endblock%}
