<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/application/app/application/static/css/main.css">
    <link rel="stylesheet" href="/src/application/app/application/static/css/tailwind.css">
    {% if title %}<title>SDN-Cloudstack - {{title}}</title>
    {%else%}<title>SDN-Cloudstack</title>{%endif%}
</head>
<header>
    <div class="header text-white flex h-28">
        <div class="flex-shrink-0 flex-1 items-justify max-w-xs">
            <p class="block px-3 py-3 text-2xl mt-6 leading-10 font-extrabold text-gray-700"><a href="/"
                class="text-white hover:bg-gray-700 px-3 py-3 rounded-md text-2xl font-medium">SDN-Cloudstack</a></p>
        </div>
        <div class="flex-shrink-0 flex-1 items-justify max-w-xs">
            <p class="block px-3 py-1 text-2xl mt-6 leading-10 font-extrabold text-gray-700">
                <form class="felx flex-col"name="api_selecteur" action="" method="get">
                    <select class="m-auto text-center header text-white flex flex-col text-xl font-medium" name="room">
                        {%for room in api%}
                            <option value="{{room}}">{{room}}</option>
                        {%endfor%}
                    </select>
                    <button type="submit " class="m-auto header text-center text-white flex flex-col text-xl font-medium">Select</button>
                </form></p>

        </div>
        <div class="flex-shrink-0 flex-1 items-center w-auto">
            <p class="block px-3 py-3 text-center text-2xl mt-6 leading-10 text-white px-3 py-3 rounded-md text-2xl font-medium">{{title}}</a></p>
        </div>
        <div class="flex-1 items-justify max-w-xs">
            <p class="block px-3 py-3 text-2xl mt-6 leading-10 font-extrabold text-gray-700"><a href="/login/"
                class="text-white hover:bg-gray-700 px-3 py-3 rounded-md text-2xl font-medium">Login</a></p>
        </div>
    </div>
</header>
<body class="w-screen h-screen">
    <div class="flex w-1\/5 h-full ">
                <div class="navbar flex flex-col">
                    <div>

                        <div class="flex flex-col w-44 items-justify px-8 py-4">
                            <a href="/resume/"
                            class="text-white hover:bg-gray-400 px-3 py-2 my-2 rounded-md text-m font-medium">Resume</a>
                            <a href="/config-otg/"
                            class="text-white hover:bg-gray-400 px-3 py-2 my-2 rounded-md text-m font-medium">Configs-OTG</a>
                            <a href="/config/"
                            class="text-white hover:bg-gray-400 px-3 py-2 my-2 rounded-md text-m font-medium">Config</a>
                        </div>
                    </div>
    </div>
    <div class= "content flex h-full w-full">
        <div class="bg-red-200 w-1\/2 w-full flex h-full flex-col" >
            <div class="h-full w-full"><textarea class=" resize-y h-full border-black border-2 w-full rounded-md" name="config"></textarea></div>
            <div class="1\/6  h-full w-full items-center text-center m-auto"><button class="hover:bg-blue-100 px-2 py-2 rounded-md">Send-config</button></div>
        </div>
        <div class="bg-blue-200 w-1\/2 w-full">
            <div class="flex flex-col w-full h-full">
                <div class="h-1\/3 w-full h-full">
                    <table class="table-fixed w-full h-full border-collapse border border-gray-400 m-auto overflow-scroll">
                        <thead>
                            <tr>
                                <th colspan="3"> Interface</th>
                            </tr>
                            <tr>
                                <th class="border border-gray-400">Name</th>
                                <th class="border border-gray-400">Vlan</th>
                                <th class="border border-gray-400">Status</th>   
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="border border-gray-400">Test</th>
                                <th class="border border-gray-400">Test</th>
                                <th class="border border-gray-400">Test</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="h-1\/3 w-full h-full">
                    <table class="table-fixed w-full h-full border-collapse border border-gray-400 m-auto overflow-scroll">
                        <thead>
                            <tr>
                                <th colspan="2"> Vlan</th>
                            </tr>
                            <tr>
                                <th class="border border-gray-400">Name</th>
                                <th class="border border-gray-400">Vlan_ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="border border-gray-400">Test</th>
                                <th class="border border-gray-400">Test</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="h-1\/3 w-full h-full">
                    <table class="table-fixed w-full h-full border-collapse border border-gray-400 m-auto overflow-scroll">
                        <thead>
                            <tr>
                                <th colspan="4"> Trunk</th>
                            </tr>
                            <tr>
                                <th class="border border-gray-400">Interface</th>
                                <th class="border border-gray-400">Vlan</th>
                                <th class="border border-gray-400">Status</th>
                                <th class="border border-gray-400">Tagged vlans</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="border border-gray-400">Test</th>
                                <th class="border border-gray-400">Test</th>
                                <th class="border border-gray-400">Test</th>
                                <th class="border border-gray-400">Test</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>